{% extends 'tables/table_pipelines_general.html' %}
{% block header %}
<th class="col-1">ID</th>
<th class="col-2">Git Tree</th>
<th class="col-1">Commit</th>
<th class="col-4">Version</th>
<th class="col-4">Created On</th>
{% endblock %}

{% block row %}
<tr class="d-flex">
  <td class="col-1">
    <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
      {{ pipeline.pipeline_id }}
    </a>
  </td>
  <td class="col-2">
    <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
      {{ pipeline.gittree.name }}
    </a>
  </td>
  <td class="col-1">
    <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
      {{ pipeline.commit_id | slice:"7"}}
    </a>
  </td>
  <td class="col-4">
    <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
      {{ pipeline.kernel_version }}
    </a>
  </td>
  <td class="col-4">
    <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
      {{ pipeline.created_at }}
    </a>
  </td>
</tr>
{% endblock %}
