<div class="table-responsive">
  <table class="table table-bordered" id="testTable" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        {% block header %}
        <th class="col-1">Result</th>
        <th class="col-3">Test</th>
        <th class="col-1">Arch</th>
        <th class="col-3">Host</th>
        <th class="col-1">Duration</th>
        <th class="col-1">Beaker Task</th>
        <th class="col-1">Gitlab Job</th>
        <th class="col-1">Logs</th>
        {% endblock header %}
      </tr>
    </thead>
    <tbody>
    {% load timetag %}
    {% for testrun in test_jobs %}
    {% block row %}
    <tr class="d-flex {{ testrun.passed_style.row }}">
        <td align="center" class="{{ testrun.passed_style.cell }}" title="{{testrun.result.name}}">
            {{ testrun.passed_style.icon|safe}}
            <i title="Waived test (this result does not affect overall test result)"  class="fas {% include 'waived_icon.html' with waived=testrun.waived %}"></i>
          </td>
          <td class="col-3">
            {{ testrun.test.name }}
            {% if testrun.targeted %}
            <i class="fas fa-bullseye text-success" title='Is a targeted test.'></i>
            {% endif %}
          </td>
          <td class="col-1">
            {{ testrun.kernel_arch.name }}
            {% if testrun.kernel_debug %}
            (debug)
            {% endif %}
          </td>
          <td class="col-3">{% include "link_beaker_host.html" with item=testrun.beakertestrun.beaker_resource %}</td>
          <td class="col-1">{{ testrun.beakertestrun.duration|timetag }}</td>
          <td class="col-1">{% include "link_beaker_task.html" with test=testrun.beakertestrun %}</td>
          <td class="col-1">{% include "link_gitlab_job.html" with jid=testrun.beakertestrun.jid %}</td>
          <td class="col-1 clickable-cell" data-target="#collapse-logs-{{ testrun.id }}" data-toggle="collapse" data-group-id="grandparent" data-role="expander">
            <i title="View log files for this test" class="fas fa-scroll"></i>
          </td>
      </tr>

      <tr class="collapse" id="collapse-logs-{{ testrun.id }}" aria-expanded="true">
      <td colspan="7">
        <table class="table table-bordered" id="testTable" width="100%" cellspacing="0">
          <tbody>
          {% for log in testrun.logs.all %}
          <tr>
            <td> {{log.name}} </td>
            <td> <a href="{{log.url}}">{{log.url}} </a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </td>
      </tr>
    {% endblock row %}
    {% endfor %}
    </tbody>
  </table>
</div>
