{% extends "base.html" %}

{% block title %}
Pipeline
{% endblock %}

{% block header_outer %}
<div class="row">
  <div class="col">
    <h1 class="h3 mb-2">
      Pipeline {% include "link_gitlab_pipeline.html" %}
    </h1>
  </div>
  <div class="col" align="right">
    {% include 'pipeline_details_header.html' %}
  </div>
</div>
{% endblock %}


{% block content %}

{% load addstr %}

<div class="col-xl-4 col-md-6 mb-4">
  <div class="row">
    {% include 'pipeline_actions_dropdown.html' %}
  </div>
</div>

<!-- Show issues related to the pipeline. -->
{% for occurrence in issue_occurrences %}
  {% include 'card_issue_occurrence.html' %}
{% endfor %}

<div class="row">
  {% with stage=pipeline.all_stage %}
  <div class="col-xl-12 col-md-12 mb-4">
      <div class="card border-bottom-{{ stage.style.color }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">{{ stage.name }} Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ stage.style.color }}">{{ stage.status }}</div>
          </div>
          <div class="col-auto">
          {{ stage.style.icon_big|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endwith %}
</div>


<div class="row">

  {% with stage=pipeline.lint_stage %}
  {% include 'card_stage_status.html' %}
  {% endwith %}

  {% with stage=pipeline.merge_stage %}
  {% include 'card_stage_status.html' %}
  {% endwith %}

  {% with stage=pipeline.build_stage %}
  {% include 'card_stage_status.html' %}
  {% endwith %}

  {% with stage=pipeline.test_stage %}
  {% include 'card_stage_status.html' %}
  {% endwith %}

</div> <!-- end row -->

{% for report in pipeline.reports.all %}
  {% include 'card_report.html' %}
{% endfor %}

{% for run in pipeline.lint_jobs.all %}
  {% if not run.success and run.log %}
  {% include 'card_issue_log.html' %}
  {% endif %}
{% endfor %}

{% for run in pipeline.merge_jobs.all %}
  {% if not run.success and run.log %}
  {% include 'card_issue_log.html' %}
  {% endif %}
{% endfor %}

{% for run in pipeline.build_jobs.all %}
  {% if not run.success and run.log %}
  {% include 'card_issue_log.html' %}
  {% endif %}
{% endfor %}

{% include 'card_tests_status.html' with test_jobs=failed_test_jobs html_id="test_failures" title="Test Failures" open=True %}

<div>
  <!-- merge table -->
  {% if pipeline.patches.count %}
  <div class="card">
    <div class="card-header" id="headingMerge">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMerge" aria-expanded="false" aria-controls="collapseMerge">
          <h6 class="m-0 font-weight-bold text-primary">
            <i title="Expand" class="fas fa-caret-down rotate-if-collapsed"></i>
            Merged Patches
            ({{ pipeline.patches.count }})
          </h6>
        </button>
      </h5>
    </div>

    <div id="collapseMerge" class="collapse" aria-labelledby="headingMerge">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="mergeTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Patch</th>
              </tr>
            </thead>
            <tbody>
            {% for patch in pipeline.patches.select_related %}
              <tr>
                  <td>{% include "link_patchwork_patch.html" %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- builds table -->
  {% if pipeline.build_jobs.count %}
  <div class="card">
    <div class="card-header" id="headingBuild">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBuild" aria-expanded="false" aria-controls="collapseBuild">
          <h6 class="m-0 font-weight-bold text-primary">
            <i title="Expand" class="fas fa-caret-down rotate-if-collapsed"></i>
            Build Jobs
            ({{ pipeline.build_jobs.count }})
          </h6>
        </button>
      </h5>
    </div>

    <div id="collapseBuild" class="collapse" aria-labelledby="headingBuild">
      <div class="card-body">
      {% include 'tables/table_buildrun_general.html' %}
      </div>
    </div>
  </div>
  {% endif %}

  <!-- tests table -->
  {% include 'card_tests_status.html' with test_jobs=test_jobs html_id="all_test_results" %}

</div>
{% endblock %}
