<div class="col-xl-3 col-md-3 mb-4">
    <div class="card border-left-{{ stage.style.color }} shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-uppercase mb-1">{{ stage.name }} Status</div>
          <div class="h5 mb-0 font-weight-bold text-{{ stage.style.color }}">{{ stage.status }}</div>
        </div>
        <div class="col-auto">
            {{ stage.style.icon_big|safe }}
        </div>
      </div>
    </div>
  </div>
</div>
