{% if perms.datawarehouse.change_issue %}
{% load serialize %}
<span class="dropdown">
  <button class="btn btn-primary btn-sm dropdown-toggle mb-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" onclick="editIssue({{ issue|serialize:'IssueSerializer' }})">Edit Issue</a>
    <form action="/issue/{{ issue.id }}/resolve" method="post">
    {% csrf_token %}
    <input type="hidden" name="redirect_to" value="{{ request.get_full_path }}"/>
    {% if issue.resolved %}
    <button class="dropdown-item btn-link" type="submit">Mark as unresolved</a>
    {% else %}
    <input type="hidden" name="resolved" value="on">
    <button class="dropdown-item btn-link" type="submit">Mark as resolved</a>
    {% endif %}
    </form>
  </div>
</span>
{% endif %}
