<!-- Custom fonts for this template -->
<link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for the datawarehouse -->
<link href="/static/css/custom.css" rel="stylesheet">

<!-- EMOJIS \o/ -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
