<div class="col-xl-{{ plot.size|default:4 }}">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ plot.title|safe }}</h6>
    </div>
    <div class="card-body">
      <div class="chart-pie">
        <canvas id="{{ plot.element_id }}"></canvas>
      </div>
      {% if plot.description %}
      <hr>
      {{ plot.description }}
      {% endif %}
    </div>
  </div>
</div>

<script src="/static/vendor/chart.js/Chart.min.js"></script>
<script>
  Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
  Chart.defaults.global.defaultFontColor = '#858796';

  var ctx = document.getElementById("{{ plot.element_id }}");
  var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: {{ plot.labels|safe }},
      datasets: [{
        data: {{ plot.values|safe }},
        backgroundColor: {{plot.color|safe}},
        hoverBackgroundColor: {{plot.hover_color|safe}},
        hoverBorderColor: "rgba(234, 236, 244, 1)",
      }],
    },
    options: {
      maintainAspectRatio: false,
      tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
      },
      legend: {
        display: true
      },
      cutoutPercentage: 80,
    },
  });
</script>
