{% extends "base.html" %}

{% block title %}
Failed Revisions
{% endblock %}

{% block header %}
Failed Revisions
{% endblock %}

{% block content %}

<ul class="nav nav-tabs mb-3">
  <li class="nav-item"><a class="nav-link {% if stage_filter == "all" %}active{% endif %}" href="all">All</a></li>
  {% for stage in stages %}
    <li class="nav-item"><a class="nav-link {% if stage_filter == stage %}active{% endif %}" href="{{ stage }}">{{ stage|title }}</a></li>
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active">
    <div class="card shadow mb-4">
      <div class="card-body">
        {% include 'tables/table_kcidb_revisions.html' %}
      </div>
    </div>
    {% include 'paginator.html' %}
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
